@font-face {
	font-family: 'GilroyExtraBold';
	src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
	url('../fonts/gilroyextrabold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GilroyLight';
	src: url('../fonts/gilroylight.woff2') format('woff2'),
	url('../fonts/gilroylight.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans.woff2') format('woff2'),
	url('../fonts/opensans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensanslight.woff2') format('woff2'),
	url('../fonts/opensanslight.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'OpenSansLight', sans-serif;
	letter-spacing: 0.01em;
	color: #000000;
}

h2 {
	font-size: 47px;
	font-family: 'GilroyExtraBold', sans-serif;
}
